<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ideias - Casa Criativa</title>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,900;1,300;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="style.css">

</head>

<body id="page-ideas">



    <div id="container">

        <header>
            <a href="/">
                <img src="/logo/27pdZLL - Imgur.png" alt="Imagem da Logomarca">
            </a>
            <nav>
                <li><a href="#"> Início </a></li>
                <li><a href="#" onclick="on0ff()"> Nova Ideia </a></li>
            </nav>
        </header>

        <section id="title">
            <p> em exibição </p>
            <h1> Ideias </h1>
        </section>
        <main>
            <section id="ideias">

                <div class="idea">
                    <img src="https://www.flaticon.com/premium-icon/icons/svg/3015/3015327.svg"
                        alt="Imagem do Curso de Programação">

                    <div class="content">
                        <h3>Cursos de Programação</h3>
                        <p>Estudo</p>
                        <div class="descriptio">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam fugit cupiditate porro
                            consequuntur commodi illo pariatur, aut, fugiat quod reprehenderit repellendus maiores totam
                            enim veniam? Recusandae incidunt dolores culpa aliquam.
                        </div>
                        <a href="">ir para ideias</a>

                    </div>
                </div>

                <div class="idea">
                    <img src="https://image.flaticon.com/icons/svg/2927/2927549.svg" alt="Imagem do Curso deExercicios">

                    <div class="content">
                        <h3>Exercicios</h3>
                        <p>Saúde</p>
                        <div class="descriptio">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam fugit cupiditate porro
                            consequuntur commodi illo pariatur, aut, fugiat quod reprehenderit repellendus maiores totam
                            enim veniam? Recusandae incidunt dolores culpa aliquam.
                        </div>
                        <a href="">ir para ideias</a>

                    </div>
                </div>
                <div class="idea">
                    <img src="https://image.flaticon.com/icons/svg/3081/3081474.svg" alt="Imagem do Curso de Meditação">

                    <div class="content">
                        <h3>Meditaçaõ</h3>
                        <p>Mentalidade</p>
                        <div class="descriptio">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam fugit cupiditate porro
                            consequuntur commodi illo pariatur, aut, fugiat quod reprehenderit repellendus maiores totam
                            enim veniam? Recusandae incidunt dolores culpa aliquam.
                        </div>
                        <a href="">ir para ideias</a>

                    </div>

                </div>
                <div class="idea">
                    <img src="https://image.flaticon.com/icons/svg/3081/3081654.svg" alt="Imagem de Karaokê">

                    <div class="content">
                        <h3>Karaokê</h3>
                        <p>Diversão em família</p>
                        <div class="descriptio">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam fugit cupiditate porro
                            consequuntur commodi illo pariatur, aut, fugiat quod reprehenderit repellendus maiores totam
                            enim veniam? Recusandae incidunt dolores culpa aliquam.
                        </div>
                        <a href="">ir para ideias</a>

                    </div>
            </section>
        </main>

        <footer>

            Com ❤ <a href="http://rocketseat.com.br" target="blank">
                Rocketseat
            </a>
        </footer>
    </div>

    <div id="modal" class="hide">
        <div class="content">
            <h1>Nova Ideia</h1>


            <form action="">

                <div class="input-wrapper">
                    <label for="title">Título da Ideia</label>
                    <input type="text" name="title">
                </div>

                <div class="input-wrapper">
                    <label for="category">Categoria</label>
                    <input type="text" name="category">
                </div>

                <div class="input-wrapper">
                    <label for="image">Link da Imagem</label>
                    <input type="url" name="image">
                </div>

                <div class="input-wrapper">
                    <label for="description">Digite uma descrição para essa ideia</label>
                    <textarea name="description" cols="30" rows="10"></textarea>
                </div>

                <div class="input-wrapper">
                    <label for="link">Link da ideia</label>
                    <input type="text" name="link">
                </div>
                <a href="#" onclick="on0ff()">Voltar</a>
                <button>Salvar</button>

            </form>
        </div>
    </div>
    <script src="script.js"></script>

</body>

</html>